body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 0;
}

.error {
    color: red;
    border: 1px solid red;
}

.row{
    margin-bottom: 12px;
}

label, span{
    display: inline-block;
    width: 100px;
    text-align: left;
}

.centered {
    text-align: center;
}