/* made by William Bollock, CGS 3066 H2 */

li.navbar { /* horizontal nav bar */
    display: inline;  /* makes it display horizontal */
} /* TODO: center it */

#topbar {
    width:100%;
    height:1.35em; /* TODO: change from absolute measurement */
    border-style: solid;
    border-color: #782F40; /* TODO: change to fsu maroon */
    background-color: #782F40;
}
